### Introduction

There is a music streaming app called SoundCloud, that has been using their music streaming app and collecting data on songs and user activity and their aim is to analyze this data especially understanding what songs users are listening to. Currently, they are not making use of a NoSQL db and they have the data stored as a CSV file, thus its difficult for them to query the data. So our task is to create a NoSQL database for helping them with the analysis.

#### Import Packages

In [26]:
import pandas as pd
import numpy as np
import cassandra
import csv


##  The image below is a screenshot of what the data appears like in the event_data.csv

<img src="event_data_image.jpg">

#### Creating a Cluster

In [27]:
# Task: Make a connection to the cassandra instance on your local machine(127.0.0.1) and 
# create a session to establish connection and begin executing queries

In [28]:
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS nosqldb 
    WITH REPLICATION = { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }"""
)

except Exception as e:
    print(e)

In [29]:
from cassandra.cluster import Cluster
try: 
    cluster = Cluster(['127.0.0.1']) #If you have a locally installed Apache Cassandra instance
    session = cluster.connect()
    print('success')
except Exception as e:
    print(e)

success

#### Create & Set Keyspace

In [30]:
# Task: Create a Keyspace and Set KEYSPACE to the keyspace specified above
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS nosqldb 
    WITH REPLICATION = { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }"""
)

except Exception as e:
    print(e)

In [31]:
try:
    session.set_keyspace('nosqldb')
except Exception as e:
    print(e)

## List of Queries 

### 1. Find the artist_name, song_title and length of song the SoundCloud app history that was heard during  session_number = 338, and item_in_session_number  = 4


### 2. Find the artist_name, song_title (sorted by item_in_session_number) and name(fname and lname) of the user for user_id = 10, session_number = 182
    

### 3. Find every name(fname and lname) of the user from the SoundCloud app history that listened to the song_title 'All Hands Against His Own'

### Query1 Table1: How should we model this data? Think about what should be our Primary Key/Partition Key/Clustering Key

In [32]:
## Task: Query 1: Find the artist_name, song_title and length of song the SoundCloud app history 
## that was heard during session_number = 338, and item_in_session_number = 4
## make use of create table command

In [46]:

q1 = "CREATE TABLE IF NOT EXISTS details (session_number int, item_in_session_number int, artist_name text, song_title text, length double, PRIMARY KEY (session_number, item_in_session_number))"
try:
    session.execute(q1)
except Exception as e:
    print(e)

### Let's insert our data into of table

In [51]:
# We have provided part of the code to set up the CSV file. Please complete the Apache Cassandra code below#
file_name = 'event_data.csv'

with open(file_name, encoding = 'utf8') as f:
    csv_reader = csv.reader(f)
    next(csv_reader) # skip the header in the csv file
    for row in csv_reader:
## Task: Write the INSERT statements and assign it to the query variable
        #query = "<Place your insert statement and assign the values here>"
        q1 =  " INSERT INTO details (session_number, item_in_session_number, artist_name, song_title, length) VALUES (%s, %s, %s, %s, %s)"
        
        ## Task: Match the column in the csv file to the column in the INSERT statement.
        ## e.g., if you want to INSERT gender from csv file into the database you will use row[2]
        ## e.g., if you want to INSERT location from csv file into database you will use row[7]
        
        session.execute(q1, (int(row[8]), int(row[3]), row[0], row[9], float(row[5])))

### Validate our Data Model using a SELECT

In [49]:
## Task: Make use of the SELECT statement and for loop to check if your query works and display the results

q1 = "Select artist_name, song_title, length from details where session_number = 338 and item_in_session_number = 4"
try:
    rows = session.execute(q1)
except Exception as e:
    print(e)
    
for result in rows:
    print(result)

Row(artist_name='Faithless', song_title='Music Matters (Mark Knight Dub)', length=495.3073)

In [ ]:
# Fetching all the rows where condition meet i.e session_number = 338 and item_in_session_number = 4

### Query2 Table2: How should we model this data? Think about what should be our Primary Key/Partition Key/Clustering Key

In [59]:
## Task: Query 2: Find the artist_name, song_title (sorted by item_in_session_number) and 
## name(fname and lname) of the user for user_id = 10, session_number = 182 
## make use of create table command             


q2 = "CREATE TABLE IF NOT EXISTS user_info (user_id int, session_number int, item_in_session_number int, artist_name text, song_title text, fname text, lname text,  PRIMARY KEY ((user_id, session_number), item_in_session_number))"

try:
    session.execute(q2)
except Exception as e:
    print(e)

### Let's insert our data into of table

In [60]:
# We have provided part of the code to set up the CSV file. Please complete the Apache Cassandra code below#
file_name = 'event_data.csv'

with open(file_name, encoding = 'utf8') as f:
    csv_reader = csv.reader(f)
    next(csv_reader) # skip the header in the csv file
    for row in csv_reader:
        ## Task: Write the INSERT statements and assign it to the query variable
        #query = "<Place your insert statement and assign the values here>"
    

        q2 = " INSERT INTO user_info (user_id, session_number, item_in_session_number, artist_name, song_title, fname, lname) VALUES (%s, %s, %s, %s, %s, %s, %s)"
        
        ## Task: Match the column in the csv file to the column in the INSERT statement.
        ## e.g., if you want to INSERT gender from csv file into the database you will use row[2]
        ## e.g., if you want to INSERT location from csv file into database you will use row[7]
        session.execute(q2, (int(row[10]), int(row[8]), int(row[3]), row[0], row[9], row[1], row[4]))

### Validate our Data Model using a SELECT

In [69]:
## Task: Make use of the SELECT statement and for loop to check if your query works and display the results

q2 = session.execute("SELECT item_in_session_number, artist_name, song_title, fname, lname FROM user_info WHERE user_id= 10 AND session_number = 182") 

# try:
#     rows = session.execute(query)
# except Exception as e:
#     print(e)
    
for result in q2:
    #print(result)
    print(result.item_in_session_number, result.artist_name,",",result.song_title,",", result.fname, result.lname)

0 Down To The Bone , Keep On Keepin' On , Sylvie Cruz
1 Three Drives , Greece 2000 , Sylvie Cruz
2 Sebastien Tellier , Kilometer , Sylvie Cruz
3 Lonnie Gordon , Catch You Baby (Steve Pitron & Max Sanna Radio Edit) , Sylvie Cruz

In [ ]:
# Fetching all the rows where condition meet i.e user_id = 10 and session_number = 182

### Query3 Table3: How should we model this data? Think about what should be our Primary Key/Partition Key/Clustering Key

In [70]:
## Task: Query 3: Find every name(first and lastname) of the user from the SoundCloud app history that listened 
## to the song_title 'All Hands Against His Own'
## make use of create table command     


q3 = "CREATE TABLE IF NOT EXISTS song_history(song_title text, fname text, lname text, user_id int, PRIMARY KEY ((song_title), user_id))"

try:
    session.execute(q3)
except Exception as e:
    print(e)

### Let's insert our data into of table

In [72]:
# We have provided part of the code to set up the CSV file. Please complete the Apache Cassandra code below#
file_name = 'event_data.csv'

with open(file_name, encoding = 'utf8') as f:
    csv_reader = csv.reader(f)
    next(csv_reader) # skip the header in the csv file
    for row in csv_reader:
## Task: Write the INSERT statements and assign it to the query variable
        #query = "<Place your insert statement and assign the values here>"
    
        
        q3 ="INSERT INTO song_history (song_title, fname, lname, user_id)VALUES (%s, %s, %s, %s)"
        
        ## Task: Match the column in the csv file to the column in the INSERT statement.
        ## e.g., if you want to INSERT gender from csv file into the database you will use row[2]
        ## e.g., if you want to INSERT location from csv file into database you will use row[7]
        session.execute(q3, (row[9], row[1], row[4], int(row[10])))

### Validate our Data Model using a SELECT

In [75]:
## Task: Make use of the SELECT statement and for loop to check if your query works and display the results

q3 = session.execute("SELECT fname, lname FROM song_history WHERE song_title = 'All Hands Against His Own'")

# try:
#     rows = session.execute(query)
# except Exception as e:
#     print(e)

for result in q3:
    print("Full Name:",result.fname, result.lname)

Full Name: Jacqueline Lynch
Full Name: Tegan Levine
Full Name: Sara Johnson

In [ ]:
# Fetching all the rows where condition meet i.e song_title = 'All Hands Against His Own' and printing result as concatenation of two columns `fname` and `lname`

### Drop the tables before closing out the sessions

In [78]:
session.execute("DROP TABLE IF EXISTS details")
session.execute("DROP TABLE IF EXISTS user_info")
session.execute("DROP TABLE IF EXISTS song_history")

### Close the session and cluster connection¶

In [79]:
session.shutdown()
cluster.shutdown()